/* DISEÑO GENERAL UPDATE STUDIO */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


/* CONTENEDOR DE PRODUCTOS */
#contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.tarjeta-producto {
    background: white;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.tarjeta-producto img {
    max-width: 100%;
    border-radius: 5px;
}

/* BOTONES AZULES */
.btn-pago {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.btn-pago:hover {
    background-color: #0056b3;
}

/* Ajustes para el logo definitivo */
.logo-tienda {
    height: 1000px; /* Aumentamos el tamaño */
    width: auto; /* Mantiene la proporción para que no se deforme */
    object-fit: contain; /* Asegura que la imagen se vea perfecta */
    padding: 10px 0; /* Le da aire arriba y abajo para que no se vea apretado */
    vertical-align: middle; /* Lo centra con los textos del menú */
}